@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    --font01:verdana , geneva, tahoma, sans-serif;
    --font02: 'Concert One', sans-serif;
}


*{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
body{
   

}
header{ background-color: rgba(255, 68, 0, 0.808);}
header.parte01{
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-shadow:6px 6px 13px 0px rgba(0, 0, 0, 0.596);;
    font-family: var(--font02);
     width: 100%;
    border-radius: 10px;
}
header > h3{
    background-color: rgba(255, 255, 0, 0.623);
    margin: 0px;
    padding: 0px;
    
}
header.parte02 > section{
    background-color: rgba(255, 255, 0, 0.623);
    margin: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    
}
header.parte02{
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.596);
}
h2{
    font-family: var(--font02);
    
}
h1{
    font-family: var(--font02);
}
section{
    font-family: var(--font01);
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
}
footer{
    background-color: rgba(255, 255, 0, 0.664);
    border-radius: 10px;
}


   
